{{define "login/login"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TinMongo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/public/css/amazeui.min.css"/>
	<link rel="stylesheet" href="/public/css/login.css"/>
</head>
<body>
<div id = "login-auth" >
	<div class="header">
		<div class="am-alert a am-alert-warning" data-am-alert id = "msg_alert" v-show="has_msg" >
		  <button type="button" v-on:click="has_msg = false" class="am-close">&times;</button>
		  <p> ${ msg } </p>
		</div>
  <div class="am-g">
	    <h1>TinMongo</h1>
	    <strong>
	    	<p>Welcome to use TinMongo<br/>欢迎使用TinMongo</p>
	    </strong>

	  </div>
	  <hr />
	</div>
	<br>
	<div   class="am-g">
	  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div  class="am-form am-form-horizontal">
	         <div class="am-form-group">
	            <label class="am-u-sm-3 am-form-label">HostName</label>
	            <div class="am-u-sm-9">
	                 <input type="text" placeholder="localhost" v-model="item.hostname" >
	            </div>
	        </div>
	         <div class="am-form-group">
	            <label class="am-u-sm-3 am-form-label">Port</label>
	            <div class="am-u-sm-9">
	                 <input type="number" placeholder="27017" v-model="item.port" >
	            </div>
	        </div>
	         <div class="am-form-group am-form-select">
	            <label class="am-u-sm-3 am-form-label">Authentication</label>
	            <div class="am-u-sm-9">
	                <select v-model="selected" class=" am-input-lg">
	                   <option value="0">None</option>
	                   <option value="1">Username / Password</option>
	                </select>
	            </div>
	        </div>
	        <div v-show="open" >
	            <div class="am-form-group">
	                <label class="am-u-sm-3 am-form-label">Username</label>
	                <div  class="am-u-sm-9">
	                     <input type="text" placeholder="" v-model="item.username" >
	                </div>
	            </div>
	            <div class="am-form-group">
	                <label class="am-u-sm-3 am-form-label">Password</label>
	                <div class="am-u-sm-9">
	                     <input type="password" placeholder="" v-model="item.password" >
	                </div>
	            </div>
	            <div class="am-form-group">
	                <label class="am-u-sm-3 am-form-label">Database</label>
	                <div class="am-u-sm-9">
	                     <input type="text" placeholder="admin" v-model="item.database" >
	                </div>
	            </div>
	        </div>
            <div class="am-form-group">
			    <div class="am-u-sm-9 am-u-sm-offset-3">
			      <button class="am-u-sm-12 am-btn am-btn-default"  @click="loginAction" >  login  </button>
			    </div>
			</div> 
	    </div>
	    <hr>
	    <p>© 2017 CWen .</p>
	  </div>
	</div>
</div>

	<script type="text/javascript" src="/public/js/vue.js"></script>
	<script type="text/javascript" src="/public/js/vue-resource.js"></script>
	<!-- <script type="text/javascript" src="/public/js/vue-router.js"></script> -->
	<script type="text/javascript" src="/public/js/login/login.js"></script>
</body>
</html>

{{end}}
