{{define "login/login"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TinMongo</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="/public/css/amazeui.min.css"/>
	<link rel="stylesheet" href="/public/css/login.css"/>
</head>
<body>
	<div class="header">
	  <div class="am-g">
	    <h1>TinMongo</h1>
	    <strong>
	    	<p>Welcome to use TinMongo<br/>欢迎使用TinMongo</p>
	    </strong>

	  </div>
	  <hr />
	</div>
	<br>
	<div id = "login-auth"  class="am-g">
	  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <form class="am-form am-form-horizontal">
         <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">HostName</label>
            <div class="am-u-sm-9">
                 <input type="email" id="doc-ipt-3" placeholder="localhost">
            </div>
        </div>
         <div class="am-form-group">
            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Port</label>
            <div class="am-u-sm-9">
                 <input type="email" id="doc-ipt-3" placeholder="27017">
            </div>
        </div>
         <div class="am-form-group am-form-select">
            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Authentication</label>
            <div class="am-u-sm-9">
                <select v-model="selected" class=" am-input-lg">
                   <option value="0">None</option>
                   <option value="1">Username / Password</option>
                </select>
            </div>
        </div>
        <div v-show="open" >
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Username</label>
                <div class="am-u-sm-9">
                     <input type="email" id="doc-ipt-3" placeholder="">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Password</label>
                <div class="am-u-sm-9">
                     <input type="email" id="doc-ipt-3" placeholder="">
                </div>
            </div>
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Database</label>
                <div class="am-u-sm-9">
                     <input type="email" id="doc-ipt-3" placeholder="admin">
                </div>
            </div>
        </div>

	    </form>
	    <hr>
	    <p>© 2017 CWen .</p>
	  </div>
	</div>
</body>
</html>
<script type="text/javascript" src="/public/js/vue.js"></script>
<script type="text/javascript" src="/public/js/login/login.js"></script>
{{end}}
