{{define "server/databases"}}
{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}
{{set . "active" "databases"}}
  <div class="admin-content">
  {{template "Tpl/navigation" .}}
      <div class="am-g am-g-fixed am-margin-top">
          <div >
              <a href="#" type="button"  id="add_database_btn" ><i class="am-icon-plus"></i>创建数据库</a>
          </div>
        <div class="am-panel am-panel-default">
        <div class="am-panel-hd am-cf me-panel-header" data-am-collapse="{target: '#databases-info'}">数据库 <span class="am-icon-chevron-down am-fr" ></span></div>
          <div id="databases-info" class="am-in">
            <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Storage Size</th>
                <th>Data Size</th>
                <th>Indexes</th>
                <th>Index Size</th>
                <th>Collections </th>
                <th>Objects</th>
            </thead>
              <tbody>
                  {{ range  $db := .DBsStatus }} 
                    <tr>
                      <td>{{ $db.Name }}</td>
                      <td>{{ $db.DiskSize | humanize }}</td>
                      <td>{{ $db.StorageSize | humanize  }}</td>
                      <td>{{ $db.DataSize | humanize }}</td>
                      <td>{{ $db.Indexes }}</td>
                      <td>{{ $db.IndexSize | humanize }}</td>
                      <td>{{ $db.Collections }}</td>
                      <td>{{ $db.Objects }}</td>
                      <td>
                        <a href="#" >
                          <i class="am-icon-trash am-icon-fw"></i>
                          <input  type="hidden" value="{{ $db.Name }}" >
                        </a>
                      </td>
                    </tr>
                  {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="me-modal am-modal am-modal-prompt" tabindex="-1" id="delete_database" aria-hidden="true" >
  <div class="am-modal-dialog">
    <div class="am-modal-hd">Delete Database</div>
    <div class="am-modal-bd">
       <i class="am-icon-warning am-icon-fw" ></i>Type the database name local to drop
      <input type="text" class="am-modal-prompt-input" id="delete_database_input">

      <div class="am-alert a am-alert-warning" id="del_alert_msg" >
          <button type="button" class="am-close">&times;</button>
          <p> </p>
      </div>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span type="type" class="am-modal-btn data-am-modal-confirm" data-am-modal-confirm disabled="disabled" id="delete_database_confirm">提交</span>
    </div>
  </div>
</div>
<div class="me-modal am-modal" tabindex="-1" id="add_database">
  <div class="am-modal-dialog">
      <div class="am-modal-hd">Create Database
        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
      </div>
        <div class="me-modal-bd am-modal-bd">
          <div  class="am-form">
               <div class="am-form-group">
                  <label class="me-label">Database Name</label>
                  <input type="text" id="new_database_name" >
              </div>
               <div class="am-form-group">
                  <label class="me-label" >Collection Name</label>
                  <input type="text" id="new_collection_name" >
              </div>
          </div>
         <div class="me-panel am-panel am-panel-default">
            <div class="am-panel-bd">
              <p>Before MongoDB can save your new database, a collection name must also be specified at the time of creation. <a href="https://docs.mongodb.com/manual/faq/fundamentals/#how-do-i-create-a-database-and-a-collection">More Information</a> </p>
            </div>
          </div>
        <div class="am-alert a am-alert-warning" id="alert_msg" >
          <button type="button" class="am-close">&times;</button>
          <p> </p>
        </div>
        </div>
        <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
          <span id="my_confirm" class="am-modal-btn" data-am-modal-confirm >确定</span>
        </div>
      </div>
    </div>


  {{template "Tpl/footer" .}}
  <script type="text/javascript" >
  (function(){ 
     var dom = {
       alert_msg: $("#alert_msg"), 
       del_alert_msg: $("#del_alert_msg"),
       delete_database_btn: $(".am-icon-trash"),
       delete_database_input: $("#delete_database").find(".am-modal-prompt-input"),
       delete_database_confirm: $("#delete_database_confirm")
     }

     dom.alert_msg.hide();

     dom.alert_msg.find("button").on('click', function() {
        dom.alert_msg.hide();
     });
     var true_delete_database = "";
     var can_del = false;
     var del = {

        init: function() {
          this.eventFn();
        }, 
        eventFn: function() {
          dom.delete_database_btn.on("click", function() {
              dom.del_alert_msg.hide();
              $("#delete_database").modal({
                  open: true,
                  relatedTarget: this,
                  closeOnConfirm:false,
              });
              dom.delete_database_input.val("");
              $("#delete_database").find(".data-am-modal-confirm").css('background-color', '#f2f2f2');
              true_delete_database = $(this).next().val();
          })

          dom.delete_database_input.on("change input propertychange blur", function() {
             modal_val = dom.delete_database_input.val();
             if(modal_val == true_delete_database) {
               $("#delete_database").find(".data-am-modal-confirm").css("background-color", "");
                can_del = true;
             }else {
                can_del = false;
             }
          })

          dom.delete_database_confirm.on("click", function(){
            if(can_del == false) {
              return
            }
            if(true_delete_database.length < 1) {
                dom.del_alert_msg.find("p").text("Database Name is required!!");
                dom.del_alert_msg.show();
                return 
            }
            $.ajax({
              url : "/server/database" + "/" + true_delete_database + "/delete",
              type : "post",
              success : function(data) {
                $('#delete_database').modal('close');
                location.reload();
              },
              error : function(response) {
                data = JSON.parse(response.bodyText);
                dom.del_alert_msg.find("p").text(data["errors"][0]["title"]);
              }
            });
         })


        }
     }

     del.init();

    
     $('#add_database_btn').on('click', function() {
          var $promt = $('#add_database').modal({
            relatedTarget: this,
            closeOnConfirm: false,
            closeOnCancel: true,
            onConfirm: function(e) {
                databaseName = $("#new_database_name").val();
                collectionName = $("#new_collection_name").val();
                if(databaseName.length  < 1) {
                    dom.alert_msg.find("p").text("Database Name is required!!");
                    dom.alert_msg.show();
                    return 
                }
                if(collectionName.length < 1 ) {
                    dom.alert_msg.find("p").text("Collection Name is required!!");
                    dom.alert_msg.show();
                    return 
                }
                $.ajax({
                    url : "/server/newDatabase",
                    data : {
                        databaseName: databaseName, 
                        collectionName: collectionName
                    },
                    dataType : "json",
                    type : "post",
                    success : function(data) {
                      $('#add_database').modal('close');
                      location.reload();
                    },
                    error : function(response) {
                      data = JSON.parse(response.bodyText);
                      dom.alert_msg.find("p").text(data["errors"][0]["title"]);
                      dom.alert_msg.show();
                    }
                  });
              }
            });
        });
  })();
  </script>
  </body>
  </html>
{{end}}
