{{define "db/dbImport"}}
{{template "Tpl/header" .}}
{{template "Tpl/headerSecond" .}}
{{template "Tpl/sidebar" .}}


{{set . "navigation" "导入"}}
{{set . "active" "dbImport"}}
<!-- content start -->

  <div class="admin-content">
  {{template "Tpl/dbNavigationOne" .}}
  {{template "Tpl/dbNavigationTwo" .}}
  <div class="am-g am-g-fixed am-margin-top">
    <div class="am-panel am-panel-default">
    <div class="am-panel-hd am-cf me-panel-header" data-am-collapse="{target: '#database-statistics'}">
        导入<span class="am-icon-chevron-down am-fr" ></span></div>
     <div id="database-statistics" class="am-in am-container">
     <br>

        <form class="am-form am-form-horizontal am-container" enctype="multipart/form-data" >
            <div>
              <strong>
                 <span>.JS file exported with TinMongo:</span>
              </strong>

              <hr>
              <div class="am-form-group am-form-file">
                <span>JS File: </span>
                <button type="button" class="am-btn am-btn-default am-btn-sm">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                  <input id="js-file"  type="file" multiple>
                  <span id="js-file-list"></span>
              </div>
          </div>
          <div>
            <strong><span>Confirm</span></strong>
            <br>
               <div class="am-alert a am-alert-warning" id = "js_msg_alert" style="display: none"  >
                    <button type="button" class="am-close" >&times;</button>
                    <p></p>
                  </div>
                  <div class="am-alert am-alert-success"  style="display: none" id="js_msg_success" >
                    <button type="button"  class="am-close">&times;</button>
                    <p></p>
              </div>
            <hr>
            <div class="am-u-sm-8 am-u-sm-centered">
              <button type="button" class="am-btn am-btn-default am-btn-block" id="js_import_btn" >导入</button>
            </div>
            </div>
        </form>
        <br>
        <br>
        <br>
        <form class="am-form am-form-horizontal am-container" enctype="multipart/form-data" >

        <div>
          <strong>
             <span>.JSON file exported with <a href="http://www.mongodb.org/display/DOCS/Import+Export+Tools">mongoexport:</a></span>
          </strong>
          <hr>
          <div class="am-form-group">
            <span class="am-u-sm-3">Import to collection name:</span>
            <div class="am-u-sm-8 am-u-end" >
              <input type="text" id="import_collection">
            </div>
          </div>
          <div class="am-form-group am-form-file">

              <span>JSON File: </span>
              <button type="button" class="am-btn am-btn-default am-btn-sm">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                <input id="json-file"  type="file" multiple>
                <span id="json-file-list"></span>
          </div>
        </div>
          <div>
            <strong><span>Confirm</span></strong>
            <br>
               <div class="am-alert a am-alert-warning" id = "json_msg_alert" style="display: none"  >
                    <button type="button" class="am-close" >&times;</button>
                    <p></p>
                  </div>
                  <div class="am-alert am-alert-success"  style="display: none" id="json_msg_success" >
                    <button type="button"  class="am-close">&times;</button>
                    <p></p>
              </div>
            <hr>
            <div class="am-u-sm-8 am-u-sm-centered">
              <button type="button" class="am-btn am-btn-default am-btn-block" id="json_import_btn" >导入</button>
            </div>
            </div>
            <div style="display: none;">
              <input type="text" value="{{.DBName}}" id="dbName">
            </div>
        </form>
        <br>
        </div>
    </div>
  </div>
  <!-- content end -->
  </div>
</div>
<script src="/public/js/db/dbImport.js"></script>
{{template "Tpl/footer" .}}
</body>
</html>
{{end}}
